html,
body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

main {
  padding: ($pt-navbar-height + $pt-grid-size) $pt-grid-size;
  background: linear-gradient(to top, #fff, #fafafa 50%) no-repeat;
  background-size: cover;
  overflow-y: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 600px) {
    padding: ($pt-navbar-height + $pt-grid-size) 20vw;
  }

  &.bp3-dark {
    background-image: linear-gradient(
      to bottom,
      $pt-dark-app-background-color,
      lighten($pt-dark-app-background-color, 10%) 50%
    );
  }
}

table {
  width: 100%;
}
