.u-padded {
  padding: $pt-grid-size;
}

.u-spaced {
  margin: $pt-grid-size 0;
}

.u-ml-1 {
  margin-left: $pt-grid-size;
}
.u-mr-1 {
  margin-right: $pt-grid-size;
}
.u-mb-1 {
  margin-bottom: $pt-grid-size;
}
.u-mt-1 {
  margin-top: $pt-grid-size;
}

.u-flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
